.app-wrapper {
	position: relative;
	overflow: hidden;
	min-height: 100vh;
	@include d-flex($align-items: center, $justify-content:center);
}

.application {
	height: 770px;
	width: 960px;
	overflow: hidden;
	background-color: var(--app-black, #f5f6f8);
}

/*Avatar Styles*/
.avatar {
	overflow: hidden;
	width: 40px;
	height: 40px;
	min-width: 40px;
	border-radius: 50%;
}